body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

section {
    padding: 2em;
}

.project img {
    max-width: 100%;
    height: auto;
}

.dropdown-menu {
    position: fixed;
    top: 50px;
    left: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.dropdown-menu a:hover {
    background-color: #575757;
}

.menu-button {
    position: fixed;
    top: 10px; 
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 600px;
}
h3{
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    max-width: 600px;
}